.containerNavbar {
    color: red;
    background-color: black;
    padding: 1.5em;
    position: fixed;
    width: 100%;
    z-index: 9999999;
}
.navbar {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}

.iniciarSesionNavbar {
    list-style: none;
    max-width: fit-content;
    margin-left: 30%;
}

.botonIniciarSesion {
    padding: 10px;
    font-weight: 600;
    font-size: 1.2em;
    background-color: black;
    border-radius: 6px;
    border: 3px solid red;
    color: red;
}

.botonIniciarSesion:hover {
    background-color: red;
    color: black;
    transform: scale(1.2);
}